Desktop/Service References/FEAfip/ServicioCAE3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52944/ServicioCAE.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfFactElect" />
  <xs:import schemaLocation="http://localhost:52944/ServicioCAE.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="solicitar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfFactElect" minOccurs="0" name="solicitudReq" nillable="true" type="q1:SolicitudRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="solicitarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfFactElect" minOccurs="0" name="solicitarResult" nillable="true" type="q2:DTOSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUltimaSolicitudConError">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoComp" type="xs:int" />
        <xs:element minOccurs="0" name="ptoVta" type="xs:int" />
        <xs:element minOccurs="0" name="nroComp" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUltimaSolicitudConErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfFactElect" minOccurs="0" name="obtenerUltimaSolicitudConErrorResult" nillable="true" type="q3:DTOSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUltimoAut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoComp" type="xs:int" />
        <xs:element minOccurs="0" name="ptoVta" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUltimoAutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerUltimoAutResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCAE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoComp" type="xs:int" />
        <xs:element minOccurs="0" name="ptoVta" type="xs:int" />
        <xs:element minOccurs="0" name="nroComp" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarCAEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfFactElect" minOccurs="0" name="ConsultarCAEResult" nillable="true" type="q4:DTOSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoServidores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EstadoServidoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="EstadoServidoresResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonHabilitadas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMonHabilitadasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerMonHabilitadasResult" nillable="true" type="q6:ArrayOfArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSujetoObligado">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfFactElect" minOccurs="0" name="consultaObligadoSolicitud" nillable="true" type="q7:DTOConsultaObligadoSolicitud" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSujetoObligadoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfFactElect" minOccurs="0" name="ConsultarSujetoObligadoResult" nillable="true" type="q8:DTOConsultaObligadoRespuesta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OpcionalTest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="OpcionalTestResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>